.blog-post {
  display: flex;
}

.blog-post article {
  margin-left: 50px;
  max-width: 600px;
}

.blog-post a {
  text-decoration: none;
  font-weight: 400;
  color: var(--white);
}

.blog-post a:hover {
  text-decoration: underline var(--white) solid 1px;
}

@media screen and (max-width: 800px) {
  .blog-post {
    flex-direction: column;
  }
  .blog-post img {
    width: 280px;
  }
  .blog-post article {
    margin: 50px 0;
  }
}
