.blog-post {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--taupe);
}

.blog-post:hover {
  cursor: pointer;
}

.blog-post:hover a {
  text-decoration: underline var(--white) solid 1px;
}

.blog-post a {
  text-decoration: none;
  font-weight: 400;
  color: var(--white);
}

.blog-post a:hover {
  text-decoration: underline var(--white) solid 1px;
}
