.blog-post {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--taupe);
  padding: 0;
  margin-bottom: 50px;
}

.blog-post a {
  text-decoration: none;
  font-weight: 400;
  color: var(--white);
}

.blog-post article {
  padding-bottom: 25px;
}

.blog-post:hover article a {
  text-decoration: underline var(--white) solid 1px;
}

.blog-post article a:hover {
  text-decoration: underline var(--white) solid 1px;
}
