.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 22px);

}

.hero-text-section {
  margin-right: 30px;
}

.hero-text-section h2 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 500;
}

.hero-text-section h1 span {
  display: block;
}

.hero-text-section h1 span:first-of-type {
  font-size: 20px;
  font-weight: 500;
}

.hero-text-section a {
  text-decoration: none;
  padding: 18px 30px;
  border-radius: 10px;
  background-color: var(--taupe);
  color: var(--white);
  display: inline-block;
}

.hero-text-section a:hover {
  background-color: var(--darktaupe);
  text-decoration: underline;
}

.hero-img-section {
  background-color: var(--taupe);
  width: 389px;
  height: 400px;
  overflow: visible;
}

.hero-img-section img {
  min-height: 250px;
  min-width: 250px;
  max-width: 389px;
  max-height: 400px;
}

.hero-img-section [data-main-image] {
  left: 20px;
  top: 20px;
  border: 2px solid var(--taupe);
  object-fit: cover;
  position: absolute;
}

@media (min-width: 751px) and (max-width: 900px) {
  .hero-img-section {
    max-width: 300px;
    max-height: 300px;
  }

  .hero-img-section img {
    max-width: 300px;
    max-height: 300px;
  } 
}

@media screen and (max-width: 750px) {
  .hero {
    flex-direction: column-reverse;
    width: 100%;
  }

  .hero-text-section {
    text-align: center;
    margin: 0 auto;
  }

  .hero-text-section h1 span {
    justify-content: center;
  }

  .hero-img-section {
    margin-bottom: 50px;
    max-height: 250px;
    max-width: 250px;
    padding: 0;
    background-color: transparent;
  }

  .hero-img-section img {
    max-height: 250px;
    max-width: 250px;
  }

  .hero-img-section [data-main-image] {
    margin: 0;
    border-radius: 50%;
    left: 0px;
    top: 0px;
  }
}
