.list {
  margin: 0;
}

.list-item {
  margin: 0;
  padding: 0;
  accent-color: var(--dustypink);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 22px);
  height: max-content;
}

.hero-text-section {
  margin-right: 30px;
}

.hero-text-section h2 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 500;
}

.hero-text-section h1 span {
  font-size: 20px;
  font-weight: 500;
}

.hero-text-section button {
  padding: 18px 30px;
  border-radius: 10px;
  background-color: var(--taupe);
  color: var(--white);
  cursor: pointer;
  border: none;
}

.hero-text-section button:hover {
  background-color: var(--darktaupe);
}

.hero-img-section {
  background-color: var(--taupe);
  width: 400px;
  height: 400px;
}

.hero-img-section img {
  object-fit: cover;
  border: 2px solid var(--taupe);
  margin-left: 20px;
  margin-top: 20px;
  width: 400px;
  min-height: 250px;
  max-height: 400px;
}

@media (min-width: 751px) and (max-width: 900px) {
  .hero-img-section {
    width: 300px;
    height: 300px;
  }

  .hero-img-section img {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 750px) {
  .hero {
    flex-direction: column-reverse;
    width: 100%;
  }

  .hero-text-section {
    text-align: center;
    margin: 0 auto;
  }

  .hero-img-section {
    margin-bottom: 50px;
    width: fit-content;
    height: fit-content;
    padding: 0;
    background-color: transparent;
  }

  .hero-img-section img {
    width: 250px;
    height: 250px;
    margin: 0;
    border-radius: 50%;
  }
}
