.header {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
  min-height: 60px;
}

.header-logo {
  background-image: url('../images/AishatLiasu.svg');
  width: 100px;
  height: 60px;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
  min-width: 45%;
}

.nav-mobile {
  display: none;
}

.main {
  margin: 150px auto 50px;
  max-width: 1200px;
}

.menu-button {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--white);
  font-size: 20px;
}

@media screen and (max-width: 1199px) {
  .header,
  .main {
    padding: 0 20px;
  }

  .main {
    margin-top: 100px;
  }
}
@media screen and (max-width: 700px) {
  .nav {
    display: none;
  }
  .nav-mobile {
    position: fixed;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
    display: none;
    background-color: var(--taupe);
    margin: 10px auto;
    border-radius: 10px;
    height: 250px;
    max-width: 320px;
  }

  .menu-button {
    display: block;
  }

  .main {
    margin-top: 50px;
  }
}
