.header {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
  min-height: 60px;
}

.header-logo {
  background-image: url('../images/aishat_liasu_white.svg');
  width: 80px;
  height: 60px;
  color: var(--white);
  cursor: pointer;
}

.header-logo a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--white);
  font-size: 24px;
}

.nav {
  display: flex;
  justify-content: space-between;
  min-width: 45%;
}

.nav-mobile {
  display: none;
}

/* .nav-list {
  display: flex;
  justify-content: space-between;
  min-width: 30%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list a {
  text-decoration: none;
  padding: 10px;
  font-weight: 400;
  color: var(--white);
}

.nav-list a:hover {
  font-weight: 700;
} */

.main {
  margin: 150px auto 50px;
  max-width: 1200px;
}

.active-link {
  font-weight: 700;
  border-bottom: '3px solid var(--dustypink)';
}

.menu-button {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--white);
  font-size: 20px;
}

@media screen and (max-width: 1199px) {
  .header,
  .main {
    padding: 0 20px;
  }

  .main {
    margin-top: 100px;
  }
}
@media screen and (max-width: 700px) {
  .nav {
    display: none;
  }
  .nav-mobile {
    position: fixed;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
    display: none;
    background-color: var(--taupe);
    margin: 10px auto;
    border-radius: 10px;
    height: 250px;
    max-width: 320px;
  }

  /*   .nav-mobile .nav-list {
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--dustypink);
    color: var(--black);
    width: 300px;
    margin: 50px auto;
  }

  .nav-mobile .nav-list li {
    text-align: center;
  } */

  .menu-button {
    display: block;
  }

  .main {
    margin-top: 50px;
  }
}
