.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 30%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list a {
  text-decoration: none;
  padding: 10px;
  font-weight: 400;
  color: var(--white);
}

.nav-list a:hover {
  font-weight: 700;
}

.social-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 150px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-nav li {
  padding: 0;
  margin: 0;
  display: flex;
}

.social-nav a {
  text-decoration: none;
  color: var(--white);
  padding: 5px;

  margin: auto;
  height: 40px;
}

.social-nav img {
  background-color: var(--taupe);
  padding: 5px;
  border-radius: 50%;
}

.social-nav img:hover {
  background-color: var(--darktaupe);
}

@media screen and (max-width: 700px) {
  .nav {
    display: none;
  }
  .nav-mobile {
    position: fixed;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    text-align: center;
    display: none;
  }

  .nav-list {
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
  }

  .nav-list li {
    text-align: center;
    display: flex;
    width: 100%;
  }
  .nav-list a {
    width: 100%;
  }

  .menu-button {
    display: block;
  }

  .social-nav {
    max-width: 200px;
    margin: auto;
  }
}
