.project-card:hover {
  cursor: pointer;
}

.img-container {
  padding: 20px 10px;
  display: flex;
  background-color: var(--taupe);
  border-radius: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.project-card img {
  min-width: 260px;
  min-height: 100px;
  margin: auto;
}

.project-card a {
  text-decoration: none;
  color: var(--white);
}

.project-card article p:last-child {
  margin: 0;
}

.project-card:hover article p:last-child {
  text-decoration: underline;
}
